.movies-container .movies-header, .results-container .movie {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.rankingResults .name, .tournamentResults .rank, .tournamentResults .aces, .tournamentResults .winner, .tournamentResults .round, .headers .header {
  flex: 1 0 20%;
}

.main-article {
  font-weight: 900;
}

.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
  /* margin-top: 10px; */
}

.header-container .headers, .results-container .rankingResults{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}


.h5 {
  font-size: larger;
}