.matches-container {
  display: flex;
  flex-flow: column wrap;
  margin-top: 10px;
}

.matches-container .matchTitle, .matches-container .detailResults, .h2hinfo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
  padding: 0 0px;
}

.matchTitle .header, .detailResults, .h2hinfo {
  flex: 1 0 20%;
  margin: auto
}

.detailResults:hover{
  cursor: pointer;
  border-style: inset;
}

.details {
  background-color:wheat;
}

table {
  border: 5px;
  border-style: double;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.submit-btn {
  display: inline-block;
  padding: 7px 8px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:rgb(34, 71, 139);
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.submit-btn:hover {background-color: rgb(34, 71, 139)}

.submit-btn:active {
  background-color:rgb(34, 71, 139);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.test{
  display: flex;
}


.Select_bar
{
    display:flex;
    flex-direction:row;
    
}

.Select_bar > div
{

    flex:1 1 auto;
    
    margin:5px;  /* and that, will result in a 10px gap */
}

.Select_bar > button
{
  height:10%;
  margin: 12px;
}


input[type=text]{
  width: 93%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
