.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
  /* margin-top: 10px; */
}

.header-container .headers, .results-container .playerResults, .results-container .gsInfo, .results-container .olympicInfo, .results-container .gsWins, .results-container .tournamentBreakdown {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.playerResults .name, .playerResults .hand, .playerResults .country, .playerResults .birthday, .playerResults .atp_id, .headers .header {
  flex: 1 0 20%;
}

.header-container, .jumbotron {
  margin-top: 10px;
}

.playerName, #tournButton {
  padding: 0px;
}

#playerinfo-container, #playerHeaders, #playerResults, #olympic-container, #tournament-container, #tournament-breakdown {
  display: none;
}

.gsInfo .wins, .gsInfo .losses, .gsWins .rank, .gsWins .wins {
  flex: 1 0 50%
}

.olympicInfo .games, .olympicInfo .event, .olympicInfo .medal, .tournamentBreakdown .round, .tournamentBreakdown .opponent, .tournamentBreakdown .result {
  flex: 1 0 33%
}

#tournButton {
  margin-top: 10px;
}

#tournDataFound {
  margin-top: 15px;
}

#playerName {
  width: 75%
}